#container, #content, #display, #body, #firstRow, #secondRow, #thirdRow, #fourthRow {
    display: flex;
}


#content {
    flex-direction: column;
    background-color: black;
    height: 400px;
    width: 400px;
    
}

#body {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}


#display {
    height: 100px;
    background-color: whitesmoke;
    margin: 10px;
    font-size: 26px;
    font-weight: bold;

}

#firstRow, #secondRow, #thirdRow, #fourthRow {
    justify-content: space-evenly;
    height: 30px;

}

button {
    flex-grow: 1;
    font-weight: bold;
    font-size: 22px;
}

#container {
    justify-content: center;
    margin-top: 170px;
}

.operator {
    background-color: orange;
}

.number {
    background-color: rgb(165, 165, 165);
}